version: '3'

services:
  elasticsearch:
    image: elasticsearch:6.7.0
    ports:
      - 9200
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"

volumes:
  elasticsearch_data:
